<h1><%= @category.name %> <%= link_to('+', new_recipe_path, :class => 'LinkButton Round') %></h1>
<%= will_paginate(@recipes) %>
<ul class="RecipeList">
  <%= render(:collection => @recipes, :partial => 'recipe_categories/recipe') %>
</ul>
<%= will_paginate(@recipes) %>




